.img-center {
    text-align: center;
    margin-bottom: 3rem;
}
/* .block-center {
    margin: 0 auto;
} */
.block-left {
    text-align: left;
    /* width: 386px; */
}
.search-bar {
  border-style: none;
  border: 2px solid #cacaca;
  border-left: none;
}

.desktop-img {
    border: 1px solid black;
    opacity: 0.5;
}

.mag-icon {
    width: 30px;
  }

  /* .border1 {
    border: 1px solid black;
  }
  .border2{
    border: 1px solid red;
  } */