html,
body,
header,
#intro {
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

#intro {
    background: url("../img/AtlantaNight.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#profile-pic {
  border-radius: 50%;
}

/* Basic styles to align items properly */
.input-container {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  height: 36px;
}
.search-bar {
  position: relative;
  padding-left: 65px;
}

.search-bar::placeholder {
  text-indent: 50px;
}

.search-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 100%;
  background-color: #ccc;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
}


.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }